[Unit]
Description=Ubuntu Time Machine Backup Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/utm-core --daemon --config /etc/ubuntu-time-machine/daemon.conf

[Install]
WantedBy=multi-user.target 